<div class="mui-panel">

  <div class="new-game__loader loader" hidden>
    <div class="loader-inner pacman">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="new-game__main-content mui-col-md-6 mui-col-md-offset-3">
    <form>
      <legend>Enter points</legend>
      <div class="mui-select">
        <select id="type">
          <option value="">Select one...</option>
          <% @game_types.each do |type| %>
            <option value="<%= type.id %>"><%= type.name %></option>
          <% end %>
        </select>
        <label>Game type</label>
      </div>
      <div class="form-container">
      </div>

      <div class="new-game__error" hidden>
        <div class="mui--text-danger">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <span id="message">jojo</span>
        </div>
      </div>

      <button class="mui-btn mui-btn--flat mui-btn--primary" id="addPlayerBtn">Add Player</button>
      <button type="submit" class="mui-btn mui-btn--accent mui-btn--raised" id="submitBtn">Submit</button>
    </form>
  </div>

  <div class="game-group-template" hidden>
    <div class="mui-row">
      <div class="mui-col-xs-6">
        <div class="mui-textfield mui-textfield--float-label">
          <input type="text" required id="name">
          <label>Player</label>
        </div>
      </div>
      <div class="mui-col-xs-6">
        <div class="mui-textfield mui-textfield--float-label">
          <input type="text" required id="points">
          <label>Points</label>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render partial: "layouts/game_types_js" %>
