<button class="mui-btn mui-btn--accent">New Game</button>

<table class="mui-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Games</th>
      <th>Wins</th>
      <th>PPG</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><% person.name %></td>
        <td><% person.person_games.count %></td>
        <td></td>
        <td></td>
    <% end %>
  </tbody>
</table>
