$mui-primary-color: #443266;
$mui-accent-color: #8C489F;
$mui-accent-color-light: lighten($mui-accent-color, 15);
$mui-danger-color: red;

$grey: #757575;
$lighterGrey: lighten($grey, 15%);
$mui-body-bg-color: $grey;
$mui-panel-bg-color: #F1F0FF;

$mui-base-font-color: white;

$mui-border-radius-default: 3px;

$gold: gold;
$silver: silver;
$bronze: burlywood;
