@import 'colours';
@import 'mui';

html,
body {
  height: 100%;
}

a:hover, a:focus {
  color: $mui-accent-color;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header--link a {
  color: $mui-text-light;
  &:hover {
    color: darken($mui-text-light, 10);
    text-decoration: none;
  }
}
