.game-group {
  div {
    margin-bottom: 10px;
  }
}

.game__container {
    width: 40%;
    float: left;
}

@media all and (max-width: 900px) {
  .game__container {
      width: 100%;
      float: none;
  }
}

.game__header {
  text-align: center;
  &__title {
    font-weight: bold;
  }
  &__winner {
    i {
      color: gold;
      margin-right: 10px;
    }
  }
}

.game__content {
  font-size: 18px;
  text-align: center;
}
