@import 'colours';

.game-group {
  div {
    margin-bottom: 10px;
  }
}

.game__container {
    width: 40%;
    float: left;
}

@media all and (max-width: 900px) {
  .game__container {
      width: 100%;
      float: none;
  }
}

.game__header {
  text-align: center;
  &__title {
    font-weight: bold;
  }
  &__winner {
    i {
      color: gold;
      margin-right: 10px;
    }
  }
}

.game__content {
  font-size: 18px;
  text-align: center;
}

.game__score {
    display: inline-block;
    border: 1px solid $mui-primary-color;
    padding: 5px 10px;
    margin: 8px 3px;
    border-radius: 3px;
    font-size: 15px;
}
.game__score__tally {
  padding: 3px 10px;
  border-radius: 8px;
  background-color: $mui-primary-color;
  color: white;
}
