@import 'colours';
@import 'mui';
@import 'mixins';

html,
body {
  @include main-font;
}

th {
  @include secondary-font;
}

a:hover, a:focus {
  color: $mui-accent-color;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.mui--text-title {
  width: 90px;
}

.header--link a {
  color: $mui-text-light;
  &:hover {
    color: darken($mui-text-light, 10);
    text-decoration: none;
  }
}

.mui-panel,
legend,
label,
.mui-select > select,
.mui-textfield > input {
  color: $mui-body-bg-color;
}

.turbolinks-progress-bar {
  background-color: lighten($mui-accent-color, 20%) !important;
}
