@import 'colours';

.leaderboard__container {
  width: 60%;
  float: left;
}

.leaderboard__title {
  background-color: $mui-accent-color;
  color: lighten($mui-accent-color, 30%);
  padding: 10px 30px;
  font-size: 16px;
}

.leaderboard__table {
  font-size: 22px;
  width: 100%;
  margin: 5px;
  thead {
    tr {
      border-bottom: 1px solid #ccc;
      th:hover {
        color: $mui-accent-color;
        cursor: pointer;
      }
    }
  }
  td, th {
    padding: 10px;
  }
}

@media all and (max-width: 900px) {
  .leaderboard__container {
    width: 100%;
    float: none;
  }
  .leaderboard__table__game {
    display: none;
  }
}
