@import 'colours';

.person-details__container {
  display: flex;
  justify-content: center;
}

.person-details__left {
  width: 250px;
}

.person-details__right {
  width: 640px;
  background-color: $lighterGrey;
}

.person-details__title {
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
  &__text {
    display: inline-block;
    position: relative;
    top: 3px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
  .fa-lg {
    font-size: 25px;
  }
}

.person-details__stats {
  &__wins {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    background-color: lighten($gold, 23%);
    color: darken($gold, 15%);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  &__item__tally {
    width: 40%;
    text-align: center;
  }

  &__item__graph {
    width: 60%;
  }

  &__item__tally__number {
    font-size: 45px;
  }
}

@media all and (max-width: 650px) {
  .person-details__container {
    display: block;
  }

  .person-details__left,
  .person-details__right {
    width: 100%;
  }

  .person-details__left {
    margin-bottom: 20px;
  }
}
