@import 'colours';

$allTimeColour: $mui-primary-color;
$seasonColour: lighten($mui-primary-color, 20%);

.person-details__container {
  display: flex;
  justify-content: center;
}

.person-details__left {
  width: 250px;
}

.person-details__right {
  width: 750px;
  background-color: $lighterGrey;
}

.person-details__title {
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
  &__text {
    display: inline-block;
    position: relative;
    top: 3px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
  .fa-lg {
    font-size: 25px;
  }
}

.person-details__stats {
  &__item {
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
  }

  &__item--wins {
    font-size: 25px;
    background-color: lighten($gold, 23%);
    color: darken($gold, 15%);
  }
}

.person-details__graphs {
  &__colour--all {
    background-color: $allTimeColour;
  }
  &__colour--all-alt {
    background-color: transparentize($allTimeColour, 0.8);
  }
  &__colour--season {
    background-color: $seasonColour;
  }
  &__colour--season-alt {
    background-color: transparentize($seasonColour, 0.8);
  }

  &__legend {
    display: flex;
  }
  &__legend__item {
    width: 50%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  &__legend__item--all {
    background-color: $allTimeColour;
    color: lighten($allTimeColour, 35%);
  }
  &__legend__item--season {
    background-color: $seasonColour;
    color: lighten($seasonColour, 35%);
  }

  &__item {
    margin-top: 10px;
  }
  &__item__graph {
    width: 75%;
    margin: auto;
  }
}

@media all and (max-width: 650px) {
  .person-details__container {
    display: block;
  }

  .person-details__left,
  .person-details__right {
    width: 100%;
  }
}
